# Archivos y carpetas de PlatformIO y VSCode
.pio/
.vscode/
sdkconfig.*

# Archivos de dependencias (si usaras librerías de PlatformIO)
/lib/

# Archivos de compilación de CMake. Buena practica colocar /build/ en caso de no estar en .pio
/build/  
/compile_commands.json